.button {
	-fx-text-fill: #BF003E;
	-fx-padding: 5px;
	-fx-background-color: #353535;
	-fx-border-color: #454545;
	-fx-border-width: 2px;
}
.button:hover {
	-fx-text-fill: #E00049;
	-fx-background-color: #202020;
}

.layout {
	-fx-padding: 10px;
	-fx-background-color: #9E0033;
}

.headertext {
	-fx-font-size: 25px;
}